<section class="about" id="about">
    <div class="container about-container">
        <h4 class="main-title about_title">{{contents.about_title}}</h4>
        <div class="about_box">
            <div class="about_box_area about_box_shadow-top about_box_first">
                <p>{{contents.about_first}}</p>
            </div>
            <div class="about_box_area about_box_shadow-top about_box_second">
                <p>{{contents.about_second}}</p>
            </div>
            <div class="about_box_area about_box_shadow-top about_box_third">
                <p>{{contents.about_third}}</p>
            </div>
            <div class="about_box_area about_box_shadow-bottom about_box_fourth">
                <p>{{contents.about_fourth}}</p>
            </div>
            <div class="about_box_area about_box_shadow-bottom about_box_fifth">
                <p>{{contents.about_fifth}}</p>
            </div>
        </div>
    </div>
</section>
