<footer class="footer" id="contacts">
    <div class="footer_decoration"></div>
    <div class="container large-container">
        <h4 class="main-title footer_title">{{contents.contact_title}}</h4>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="footer_image">
                    <img src="/assets/images/footer/footer-image.jpg" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="footer_contacts">
                    <ul class="footer_contacts_list">
                        <li class="footer_contacts_list_item">
                            <div class="footer_contacts_ico">
                                <img src="/assets/images/header/whatsapp.png" alt="Whatsapp">
                            </div>
                            <div class="footer_contacts_info">
                                <span class="footer_contacts_info_title">{{contents.contact_watsapp}}</span>
                                <span class="footer_contacts_info_text">{{contents.contact_watsapp_phone}}</span>
                            </div>
                        </li>
                        <li class="footer_contacts_list_item">
                            <div class="footer_contacts_ico">
                                <img src="/assets/images/header/viber.png" alt="Viber">
                            </div>
                            <div class="footer_contacts_info">
                                <span class="footer_contacts_info_title">{{contents.contact_viber}}</span>
                                <span class="footer_contacts_info_text">{{contents.contact_viber_phone}}</span>
                            </div>
                        </li>
                        <li class="footer_contacts_list_item">
                            <div class="footer_contacts_ico">
                                <img src="/assets/images/header/telegram.png" alt="Telegram">
                            </div>
                            <div class="footer_contacts_info">
                                <span class="footer_contacts_info_title">{{contents.contact_telegram}}</span>
                                <span class="footer_contacts_info_text">{{contents.contact_telegram_phone}}</span>
                            </div>
                        </li>
                        <li class="footer_contacts_list_item">
                            <div class="footer_contacts_ico">
                                <img src="/assets/images/header/mail.png" alt="Mail">
                            </div>
                            <div class="footer_contacts_info">
                                <span class="footer_contacts_info_title">{{contents.contact_mail}}</span>
                                <span class="footer_contacts_info_text">{{contents.contact_mail_address}}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_copy">
            <p>
                <a href="/" class="footer_copy_logo"><img src="/assets/images/footer/logo.jpg" alt="Logo"></a>
                {{contents.footer_text}}
            </p>
        </div>
    </div>
</footer>
