<header class="header">
    <div class="container middle-container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-3 no-padding-right">
                <a href="/" class="header_logo">{{contents.logo}}</a>
            </div>
            <div class="col-lg-7 order-last col-md-12 no-padding">
                <nav class="header_nav">
                    <ul class="header_nav_box">
                        <li class="header_nav_box_item js-menu active"><a href="#about">{{contents.menu_first}}</a></li>
                        <li class="header_nav_box_item js-menu"><a href="#catalog">{{contents.menu_second}}</a></li>
                        <li class="header_nav_box_item js-menu"><a href="#delivery">{{contents.menu_third}}</a></li>
                        <li class="header_nav_box_item js-menu"><a href="#contacts">{{contents.menu_fourth}}</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-6 col-sm-6 col-md-9 col-lg-2 no-padding-left order-lg-last">
                <ul class="header_social">
                    <li class="header_social_item"><a href="#"><img src="/assets/images/header/whatsapp.png" alt="Whatsapp"></a></li>
                    <li class="header_social_item"><a href="#"><img src="/assets/images/header/viber.png" alt="Viber"></a></li>
                    <li class="header_social_item"><a href="#"><img src="/assets/images/header/telegram.png" alt="Telegram"></a></li>
                    <li class="header_social_item"><a href="#"><img src="/assets/images/header/mail.png" alt="Mail"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
